/*General Body Setting*/

body::after {
    content: '';
    display: block;
    height: 50px; /* Set same as footer's height */
  }


/* We first fix the footer to bottom! */
footer .ui.inverted.vertical.footer.segment {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    z-index: 3;
}


/*Web portfolio section*/

#WebPortfolio {
    margin-top: 5rem;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}



.ui.special.cards {
    width: 222px;
    height: 312px;
    margin-left: auto;
    margin-right: auto;
}


#rowOne {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

#rowTwo {
    margin-left: auto;
    margin-right: auto;
    display: block;
}
