/*General Body Setting*/

body::after {
    content: '';
    display: block;
    height: 50px; /* Set same as footer's height */
  }

/* Alert Box Setting */

#eventAlert {
    margin-top: 5rem;
}

/* Place the Event List Below the Nav */
/* Feature Event CSS Section Start*/
#featuredEvent {
    margin-top: 5rem;
}

#buyTicket {
    color: white;
}

.descriptionText {
    font-family: 'Stylish', serif;
}



/* We first fix the footer to bottom! */
footer .ui.inverted.vertical.footer.segment {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    z-index: 3;
   
}


/* Add media query */
/* Picture Wall Series */
@media screen and (min-width: 768px) {
   
    #mobileHeader {
        display: none;
    }
}  

@media screen and (max-width: 767px)  {
    
    header .ui.top.fixed.menu{
        display: none;
    }

    .ui.cards {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }

} 

/* Add Mobile title */

#mobileTitle {
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    font-family: 'Stylish', serif;
    font-size: 3rem;
}

/*Edit the gallery box*/

#USABOX,
#UKBOX,
#JapanBOX,
#italyBOX {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}