.col-md-offset-2.col-md-7 {
   margin-left: auto;
   margin-right: auto;
}

.card {
    margin: 20px;
   
}

.card-body button {
    margin-left: 12rem;
}


#edit-button {
    margin-left: 1rem;
}

#Delete-button {
    margin-left: 1rem;
}


header {
    margin-bottom: 2rem;
}

#alertBox {
    margin-top: 5rem;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

#container {
    margin-top: 5rem;
    text-align: center;
    font-family: 'Stylish', serif;
}

.ui.three.column.grid img{
    width: 50%;
}

.btn.btn-link p {
    font-family: 'Stylish', serif;
    text-decoration: none;
}

#content {
    text-align: center;
    padding: auto;
    margin-top: 7rem;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

#whoWeArePara {
    font-family: 'Stylish', serif;
    line-height: 34px;
    margin-top: 3rem;
    font-size: 20px;
    margin-bottom: 15rem;
}

#contactMe {
    font-family: 'Stylish', serif;
    font-size: 12px;
}

/* Add media query */
/* Picture Wall Series */
@media screen and (min-width: 768px) {
    #pictureWallTwo {
        display: none;
    }
    #mobileHeader {
        display: none;
    }
}  

@media screen and (max-width: 767px)  {
    #pictureWallOne {
        display: none;
    }
    #pictureWallTwo .card {
        width: 70%;
        margin-left: auto;
        margin-right: auto;
    }
    header .ui.top.fixed.menu{
        display: none;
    }
    #container h1 {
        display: none;
    }
} 

/* Add Mobile title */

#mobileTitle {
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    font-family: 'Stylish', serif;
    font-size: 3rem;
}

/* We fix the footer to bottom! */
footer .ui.inverted.vertical.footer.segment {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}
